html {font: 20px 'Times', 'Times New Roman', serif}
h1 {font-size: 2.25em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}
.wrapper {
	margin: auto;
	width: 70%;
}
.bw {
	margin: auto;
	width: 100%;
	justify-content: center;
	display: flex;
}
nav {
	float: left;
	width: 100%;
}
nav a {
	display: inline-block;
}
nav a img {
	margin-bottom: 25px;
    padding: 0px 10px;
}
.menu-main {
  list-style: none;
  padding: 0px 0 5px;
  text-align: center;
  background: white;
}
.logo {
  display:block;
  width: 100px;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  background-color: white;
  letter-spacing: 2px;
  position: relative;
  padding:0px 15px;
  line-height:30px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .25s;
}

.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}


.dropbtn {
  color: white;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: #feb386;}

body
{
	background:#fff;
	font: 76%/115% georgia,verdana,arial;
	text-align:left;
	line-height:20px;
	color:#444;
	border-top:10px solid #eee;
}

header p
{
	font-size:2em;
	color:#999;
	margin-top:20px;
	letter-spacing:3px;
}

a
{
	color:#f25f0f;
}

footer
{
	height:70px;
	text-align:center;
	padding-bottom:10px;
	margin:20px 0;
	color:#999;
	letter-spacing:2px;
}

.flexforphotos {
  display: flex;
  flex-direction: row;
}
  